*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#empty{
    display: none;
}

header{
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    height: 70px;
    padding: 0px 30px;
    align-items: center;
    justify-content: space-between;
    color:azure;
    background-color: black;
}

header h1 a{
    text-decoration: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    color: black;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}

nav #ul1{
    display: flex;
    flex-direction: row;
    gap: 60px;
}

nav #ul1 li{
    display: flex;
    flex-direction: row;
}

nav #ul1 li a{
    text-decoration: none;
    color: aliceblue;
    font-size: 17px;
    font-family: monospace;
    align-self: center;
    padding: 23px 0px;
}

nav #ul1 li a:hover{
    border-bottom: 4px red solid;
}

nav #ul1 li button{
    background-color: transparent;
    border: 0;
}

nav #ul1 li button:hover{
    border-bottom: 4px red solid;
}

nav #ul1 li button img{
    width: 50px;
}

header .ul2_2{
    opacity: 0%;
}

header .ul2_2, nav .ul2{
    display: none;
}

header .ul2_2 li, nav .ul2 li{
    list-style-type: none;
}

header .ul2_2 li button, nav .ul2 li button{
    list-style-type: none;
    background-color: transparent;
    border: 0;
}

#navger{
    display: flex;
    flex-direction: row-reverse;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    transform: translate(100%, 0%);
}

#navger #ul1_2{
    width: 50%;
    list-style-type: none;
    background-color: rgb(0, 0, 0);
    border-left: 2px solid red;
}

#navger #ul2_2{
    width: 50%;
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.593);
}

#navger #ul1_2 li{
    padding: 20px 0px;
}

#navger #ul1_2 li a{
    text-decoration: none;
    color: aliceblue;
    font-size: 17px;
    font-family: monospace;
    align-self: center;
    padding: 10px 20px;
}

#navger #ul1_2 li a:hover{
    border-left: 4px red solid;
}

#navger #ul1_2 .buttonModeDark{
    font-family: monospace;
    background-color: transparent;
    border: 0;
    padding: 10px 20px;
    font-size: 17px;
    color: aliceblue;
    cursor: pointer;
}

#navger #ul1_2 .buttonModeDark:hover{
    border-left: 4px red solid;
}

#navger #ul1_2 ul{
    display: flex;
    flex-direction: row;
    width: 100%;
}

#navger #ul1_2 ul{
    justify-content: end;
    list-style-type: none;
}

#navger #ul1_2 li #buttonX{
    font-family: monospace;
    background-color: transparent;
    border: 0;
    padding: 0px 20px;
    font-size: 30px;
    color: aliceblue;
    cursor: pointer;
    font-weight: bolder;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 20px;
    padding-top: 100px;
    gap: 20px;
}

.container1{
    width: 33%;
    border: 2px solid black;
    border-radius: 20px;
    padding: 15px;
    font-family: monospace;
}

.container1 form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input{
    width: 100%;
    height: 40px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
}

.tombolTambah{
    background-color: transparent;
    border: 0;
    height: 40px;
    letter-spacing: 20px;
    border: 2px solid black;
    border-radius: 10px;
    color: black;
}

.tombolCari{
    background-color: transparent;
    border: 0;
    height: 40px;
    letter-spacing: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

#temp{
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
    gap: 10px;
}

main #empty{
    display: none;
    flex-direction: column;
    top: 0;
    left: 0;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: transparent;
}
main .dialog{
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    width: 70%;
    height: 130px;
    margin: auto;
    background-color: rgb(36, 36, 36);
    border-radius: 10px;
    color: white;
    font-family: monospace;
    font-size: large;
    z-index: 10;
}

main .tombolDialog{
    width: 10%;
    border: 2px solid white;
    padding: 5px;
    border-radius: 5px;
    align-self: center;
    color: white;
    background-color: transparent;
}

.container5{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 10px;
    margin: 15px 0px;
    border-radius: 10px;
    gap: 10px;
}

.container6{
    display: flex;
    flex-direction: row;
    gap: 7px;
}

.tombolSelesai{
    background-color: transparent;
    border: 2px solid green;
    color: green;
    border-radius: 7px;
    padding: 5px;
    font-family: monospace;
}

.tombolBatal{
    background-color: transparent;
    border: 2px solid orange;
    color: orange;
    border-radius: 7px;
    padding: 5px;
    font-family: monospace;
}

.tombolHapus{
    background-color: transparent;
    border: 2px solid red;
    color: red;
    border-radius: 7px;
    padding: 5px;
    font-family: monospace;
}

.tombolEdit{
    background-color: transparent;
    border: 2px solid blue;
    color: blue;
    border-radius: 7px;
    padding: 5px;
    font-family: monospace;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
    font-family: monospace;
    background-color: black;
    color:aliceblue;
}

/* RESPONSIVE */
@media screen and (max-width: 1024px){
    header h1{
        font-size: larger;
    }
}

@media screen and (max-width: 700px){
    main{
        flex-direction: column;
    }
    
    .container1{
        width: 100%;
    }
}

@media screen and (max-width: 430px){
    header h1{
        font-size:larger;
    }
    
    footer{
        font-size: 12px;
    }

    main .tombolDialog{
        width: 30%;
    }
}

@media screen and (max-width: 350px){
    header h1{
        font-size: medium;
    }

    footer{
        font-size: 10px;
    }
}
